@import "tailwindcss";

@theme {
  --color-primary-50: #ffffff;
  --color-primary-100: #f5f5f5;
  --color-primary-200: #e5e5e5;
  --color-primary-300: #d4d4d4;
  --color-primary-400: #a3a3a3;
  --color-primary-500: #737373;
  --color-primary-600: #525252;
  --color-primary-700: #404040;
  --color-primary-800: #262626;
  --color-primary-900: #000000;

  --color-secondary-50: #e6f7ff;
  --color-secondary-100: #ccefff;
  --color-secondary-200: #99dfff;
  --color-secondary-300: #66cfff;
  --color-secondary-400: #33bfff;
  --color-secondary-500: #00afff;
  --color-secondary-600: #00afff;
  --color-secondary-700: #33bfff;
  --color-secondary-800: #66cfff;
  --color-secondary-900: #99dfff;
}

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}