@import "tailwindcss";

@theme {
  --color-primary-50: #ffffff;
  --color-primary-100: #f9fafb;
  --color-primary-200: #f3f4f6;
  --color-primary-300: #e5e7eb;
  --color-primary-400: #d1d5db;
  --color-primary-500: #9ca3af;
  --color-primary-600: #6b7280;
  --color-primary-700: #4b5563;
  --color-primary-800: #374151;
  --color-primary-900: #1f2937;
}

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}